<template>
    <div>
        <div class="conteiner">
        </div>
    </div>
</template>

<script>

    export default {
        components:{
        },
        data() {
            return {
                auth:true,
                logout:false
            }
        },
        mounted() {
        }
    }
</script>
