<template>
    <div>
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <router-link to="/" class="brand-logo">Univer Spa</router-link>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <span v-if="authCheck">
                        <router-link to="/home" active-class="active" tag="li"><a>Home</a></router-link>
                        <router-link to="/profile-settings" active-class="active" tag="li"><a>Profile Settings</a></router-link>
                        <router-link v-for="link in links" :key="link.linkName" tag="li" active-class="active" :to="link.route" ><a>{{ link.linkName }}</a></router-link>
                        <li><a @click="logoutMethod">Logout</a></li>
                    </span>
                    <span v-else>
                        <router-link v-for="link in authLinks" :key="link.linkName" tag="li" active-class="active" :to="link.route" ><a>{{ link.linkName }}</a></router-link>
                    </span>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    components:{
    },
    data() {
        return {
            links: [
                {
                    linkName: 'About',
                    route: '/about',
                }
            ],
            authLinks: [
                {
                    linkName: 'Registration',
                    route: '/registration'
                },
                {
                    linkName: 'Login',
                    route: '/login'
                }
             ],
             authCheck: auth.check(),
             user: auth.user,
        }
    },
    methods: {
        logoutMethod: function(){
            return axios.post('/api/logout', { headers: { Authorization: "Bearer " + auth.token } })
                .then(() => {
                    auth.logout();
                    this.$router.push('/login');
                })
        }
    },
}
</script>
