<template>
    <div>
        <vue-topprogress ref="topProgress" :speed="200" :maximum="60"></vue-topprogress>
    </div>
</template>

<script>
export default {
    data() {
        return {
            load:false
        }
    },
    methods: {
        setLoadValue(value){
            this.load = value;
        },
        callLoad() {
            this.$refs.topProgress.start()
            setTimeout(() => {
                this.$refs.topProgress.done()
            }, 1500)
        }
    },
    mounted() {
           this.callLoad();
    },
}
</script>
