<template>
    <div>
        <HeaderNav />
        <div class="container">
            <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Email" type="text" v-model="username"  name="username" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Password" type="password" v-model="password" name="password" class="validate">
                        </div>
                    </div>
                    <button class="waves-effect waves-light btn-large" @click="login">Login</button>
            </div>

        </div>
    </div>
</template>

<script>
import HeaderNav from './HeaderNav';
export default {
    components:{
        HeaderNav
    },
    data() {
        return {
            username: '',
            password: '',
        }
    },
    methods: {
        login : function(){

            let data = {
                username: this.username,
                password: this.password
            };

           return axios.post('/api/login', data)
                .then(({data}) => {
                    auth.login(data.token, data.user);
                    this.username = '';
                    this.password = '';
                    this.$router.push('/home');
                })
        }
    },
}
</script>
