<template>
    <div>
        <Loading ref="loadComponent" />
        <HeaderNav/>
        <div class="container">
            <vue-topprogress ref="topProgress" :speed="250"></vue-topprogress>
                    <input type="text" class="hide" v-model="profileSettings.user_id">
                    <div class="row">
                        <label for="input">Your Bio</label>
                        <div class="input-field col s12">
                            <input  placeholder="Status" type="text" v-model="profileSettings.profile_status" />
                        </div>
                    </div>

                    <div class="row">
                        <label>Your country</label>
                        <div class="input-field col s12">
                            <select ref="selectBox" v-model="profileSettings.country_id" class="browser-default">
                                <option default>Choose your option</option>
                                <option v-for="country in countries" :value="country.country_id" :key="country.country_id">{{country.countryName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label>Your University</label>
                        <div class="input-field col s12">
                            <select ref="selectBox" v-model="profileSettings.university_id" class="browser-default">
                                <option default>Choose your option</option>
                                <option v-for="university in universities" :value="university.university_id" :key="university.university_id">{{university.universityName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <UploadImage></UploadImage>
                    </div>

                    <div class="row">
                         <div class="file-field input-field col s6">
                            <button class="waves-effect waves-light btn-large indigo lighten-2" @click="updateProfileSettings">Update</button>
                         </div>
                    </div>
        </div>
    </div>
</template>

<script>
import UploadImage from './UploadImage';
import HeaderNav from './HeaderNav';
import Loading from './Loading';
export default {
   components:{
        UploadImage,
        HeaderNav,
        Loading,
    },
    data() {
        return {
            user: auth.user,
            token: auth.token,
            load: false,
            profileSettings: {
                user_id: auth.user.id,
            },
            universities: [
                {
                    university_id: 1,
                    universityName: 'Harvard',
                },
                {
                    university_id: 3,
                    universityName: 'Simple',
                }
            ],
            countries:[
                {
                    country_id: 1,
                    countryName: 'Russia',
                },
                {
                    country_id: 3,
                    countryName: 'Itali',
                }
            ]
        }
    },
    methods: {
        updateProfileSettings: function(){
            let data = {
                profileSettings: this.profileSettings,
            };
            this.postProfileSettings(data);
        },

        getProfileSettings(){
            let getData = api.call('get','/api/profile-settings-data', api.getAuthorizationHeaders(this.token));
            getData
                .then(response => {
                    if(response.data.status === 404){
                        return;
                    }
                    this.profileSettings = response.data;
                });
        },
        postProfileSettings(data){
            this.loadBar(true);
            axios
                .post('/api/update-profile-data',{headers: api.getAuthorizationBearer(this.token),data})
                .finally(() => (this.loadBar(false)));
        },
        loadBar(value){
            let loadBar = this.$refs.loadComponent;
            loadBar.setLoadValue(value);
            if(value)
                loadBar.callLoad();
        }
    },
    mounted() {
        this.getProfileSettings();
        var elems = this.$refs.selectBox;
        var instances = M.FormSelect.init(elems);
    },
}
</script>
