<template>
    <div>
        <HeaderNav />
        <div class="container">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Name" type="text" id="first_name" class="validate">
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Last Name" type="text" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Email" type="email" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Password" type="password" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Repeat Password"  type="password" class="validate">
                        </div>
                    </div>
                    <button class="waves-effect waves-light btn-large">Registration</button>
            </form>
        </div>
        </div>
     </div>
</template>

<script>
import HeaderNav from './HeaderNav';
export default {
    components:{
        HeaderNav
    }
}
</script>
