<template>
    <div>
        <HeaderNav />
        <div v-if="authenticated && user">
           <div class="container">
            <div class="col s12 m7">
                <h2 class="header">Horizontal Card</h2>
                <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                    <p>Home Location</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
import HeaderNav from './HeaderNav';
export default {
    components:{
        HeaderNav,
    },
    data() {
        return {
            authenticated: auth.check(),
            user: auth.user,
        };
    },
    mounted() {
        Event.$on('userLoggedIn', () => {
            this.authenticated = true;
            this.user = auth.user;
        });
    },
}
</script>
