<template>
    <div class="file-field input-field col s6">
        <div class="btn">
            <span>Your profile image</span>
            <input type="file" @change="changeFile($event)">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" v-model="something">
            <span class="helper-text teal-text text-darken-1" data-error="wrong" v-if="success.uploadImage" data-success="right">{{success.message}}</span>
            <span class="helper-text teal-text text-darken-1" data-error="wrong" v-if="errors.uploadImage" data-success="right">Helper text</span>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            something:'',
            success:Object,
            errors:Object,
            token: auth.token,
        }
    },
    methods: {
        changeFile: function(e){
            var files = e.target.files || e.dataTransfer.files;

            if (!files.length){
                this.something = '';
                return;
            }

            this.something = files[0].name;

            const config = {
                headers: {
                    'Authorization': "Bearer " + this.token,
                    'content-type': 'multipart/form-data',
                }
            }

            let formData = new FormData();
            formData.append('file', files[0]);

            axios.post('/api/update-profile-data', formData, config)
                .then((response) => {
                    this.success = response.data;
                    console.log(response);
                })
        },
    },
}
</script>
